.home 
{
   
   color: rgb(0, 0, 0);
   background-image: url('./backimage.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 700px;
}
.div1
{
    color: white;
    text-align: left;
    padding-left: 70px;
    padding-top:300px;
    
}
.para
{
    font-size: 20px;
}
.sripathy
{
    font-size: 40px;
}



.explore
{
    background-color: black;
    color: white;
    width: 250px;
    height: 50px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 17px;
    filter: drop-shadow(0px 0px 10px white);
    transition: background-color 0.6s, color 0.6s, box-shadow 0.6s; 
}
.explore:hover
{
    background-color:rgb(213, 212, 212);
    color: black;
    border: 0px;
    box-shadow: 0px 0px 10px rgb(203, 189, 189);
} 

@media (max-width:426px)
{
    .home
    {
        height: 700px;
    }

    h1
    {
        font-size: 30px;
        padding-left:-10px ;
    }
    .srispan
    {
        display: flex;
        font-size: 28px;
    }
    .div1
    {
    color: white;
    text-align: left;
    padding-left: 50px;
    padding-top:250px;
    
    } 
}