.image1
{
   color: rgb(0, 0, 0);
   background-image: url('./backimage.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 700px;
} 
.total1
{
    height: 700px;   
}